# Ignore Terraform files
infra/
*.tfstate
*.tfstate.backup
.terraform/

# Ignore Git repo content
.git/
.gitignore

# Ignore Jenkins workspace
Jenkinsfile

# Ignore local files
*.log
*.zip
*.tar
*.gz
*.DS_Store
node_modules/
